{% extends 'gestion/base.html' %}

{% block title %}Inicio - Sistema de Préstamos{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
    <div class="container-fluid py-3">
        <h1 class="display-6 fw-bold">Sistema de Control de Préstamos</h1>
        <p class="col-md-8 fs-5 text-muted">
            Estructura base inicial lista. Conexión con MySQL y entorno de pruebas configurado.
        </p>
        <button id="btnPrueba" class="btn btn-primary btn-lg">Probar JS</button>
    </div>
</div>
{% endblock %}